@model MvcStok.Models2.Tblurunler
@{
    ViewData["Title"] = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Urunid)
        @Html.TextBoxFor(m => m.Urunid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Urunad)
        @Html.TextBoxFor(m => m.Urunad, new { @class = "form-control" })<br />
        <br />
        @Html.LabelFor(m => m.Marka)
        @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Urunkategori)
        @Html.DropDownListFor(m => m.Urunkategori, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Fiyat)
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Stok)
        @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })<br />
        
    </div>
    <div>
        <button class="btn btn-warning">Ürün Güncelle</button>
    </div>
}


